<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Evaluate a news article with Natural Language Processing</title>
  </head>
  <body>
    <header>
      <h1>Evaluate a news article with Natural Language Processing</h1>
    </header>
    <main>

      <p>
        The AYLIEN Text Analysis API is a package of Natural Language Processing and Machine Learning-powered APIs for analyzing and extracting various kinds of information from textual content.
      </p>

      <form class="" onsubmit="return Client.handleCheckStatement(event)">
        <label for="test-statement">
          Type a statement to see what the Aylien NLP understands from it
        </label>
        <input
          required
          id="test-statement"
          type="text"
          placeholder="The quick brown fox jumps over the lazy dog"
        />
        <input class="submit-button" type="submit" value="Submit" />
      </form>

      <section class="text-results">
        <ul>
          <li>
            <h3>Polarity:</h3>
            <p id="text_polarity"></p>
            <h4>Polarity Confidence:</h4>
            <p id="text_polarity_confidence"></p>
          </li>

          <li>
            <h3>Subjectivity:</h3>
            <p id="text_subjectivity"></p>
            <h4>Subjectivity Confidence:</h4>
            <p id="text_subjectivity_confidence"></p>
          </li>
        </ul>
      </section>

      <hr />

      <form class="" onsubmit="return Client.handleCheckArticle(event)">
        <label for="test-url">
          Type url of a news article 
        </label>
        <input required id="test-url" type="url" placeholder="https://www.studentnewsdaily.com/daily-news-article/d-day-75th-anniversary/" />
        <input class="submit-button" type="submit" value="Submit" />
      </form>

      <section class="url-results">
        <ul>
          <li>
            <h3>Polarity:</h3>
              <p id="polarity"></p>
              <h4>Polarity Confidence:</h4>
              <p id="polarity_confidence"></p>
          </li>

          <li>
            <h3>Subjectivity:</h3>
              <p id="subjectivity"></p>
              <h4>Subjectivity Confidence:</h4>
              <p id="subjectivity_confidence"></p>
          </li>

          <li>
            <h3>Text Excerpt:</h3>
            <p id="excerpt"></p>
          </li>
        </ul>
      </section>
    </main>

    <footer>
      <p>&copy; Udacity</p>
    </footer>

    <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", () =>
          navigator.serviceWorker.register("/service-worker.js")
        );
      }
    </script>
  </body>
</html>
